<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy21CpUE0L1bhw041OoAflMlEl1Jw-GSo</string>
	<key>GCM_SENDER_ID</key>
	<string>141775370514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hikaru.failuremuseum.submil</string>
	<key>PROJECT_ID</key>
	<string>submil</string>
	<key>STORAGE_BUCKET</key>
	<string>submil.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141775370514:ios:c743e640e49c15bccadbcb</string>
</dict>
</plist>